.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.encabezado{

  background-color: #dddddd;
  color: #000000;
  text-align: left;
  font-weight: bold;

}

.content-table td{
  
  /*padding: 12px 15px;*/
  border-bottom: 1px solid #dddddd;
  /*font-size: 2em;*/

}

p {

  background-color: #dddddd;
  color: #000000;
  width: 30em;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;

}